@model PROYECTO_WEB.Models.gest_cuenta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout _menu.cshtml";
}

<h2>Details</h2>

<div>
    <h4>gest_cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correlativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correlativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.No_cuenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
