@model umgProyecto3._2.Models.nota_debito_cp

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout _menu.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>nota_debito_cp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asign_cheque_cp.pago_a_orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asign_cheque_cp.pago_a_orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gest_proveedor.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gest_proveedor.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mov_factura_pagos.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mov_factura_pagos.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
