@model IEnumerable<umgProyecto3._2.Models.mov_factura_pagos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout _menu.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.correlativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cancelado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gest_proveedor.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.correlativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cancelado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gest_proveedor.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nfactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.nfactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nfactura })
        </td>
    </tr>
}

</table>
